.content_donhang{
    width: 80%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;

}
.h1_content_donhang{
    width: 80%;
    margin: auto;
    margin-top: 20px;
}
.content_donhang .left_content_donhang {
    width: 60%;
}

.header_cart_item_donhang{
    display: flex;
    background-color: #f8f8f8;
    margin-bottom: 10px;
    border-radius: 8px;
    padding: 10px 0;
    font-size: 20px;
    justify-content: space-between;
}
.container_checkbox_all {
    display: flex;
    justify-content: left;
    width: 50%;
}
.content_donhang .checkbox_all_product{
    display: flex;
    justify-content: center;
    width: 10%;
}
.left_content_donhang input[type="checkbox"] {
    width: 20px;
}   


/* content đơn hàng */
.content_cart_item_donhang{
    display: flex;
    background-color: #f8f8f8;
    margin-bottom: 10px;
    border-radius: 8px;
    padding: 10px 0;
    font-size: 20px;
    flex-direction: column;
}

.item_product_cart{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.container_item_product_cart {
    display: flex;
    width: 50%;
    justify-content: left;
}
.img_product_cart img{
    width: 100px;
}
.checkbox_product_cart {
    display: flex;
    justify-content: center;
    width: 10%;
}
.img_product_cart {
    display: flex;
    align-items: center;
    justify-content: center;
}

.inf_cart {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 8%;
}
.number_product_cart {
    display: flex;
}

.left_content_donhang .product_view_quantity_box input[type="text"] {
    width: 30%;
    text-align: center;
    border-radius: 3px;
    border: 1px solid;
}
.remove_empty_div,
.remove_cart {
    margin-right: 20px;
}
.product_view_quantity_box {
    display: flex;
    width: 10%;
    justify-content: space-around;
    justify-items: center;
}

.product_name_full_text h2{
    font-size: 20px;
    color: #727070;
}
.cart_price_total h2{
    color: red;
}
.product_view_quantity_box>a>i,
.remove_cart>a>i{
color: #000;
}

.right_content_donhang{
    width: 40%;
    margin-left: 30px;
}
.right_content_donhang .header_right_content_donhang{
    display: flex;
    background-color: #f8f8f8;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
    font-size: 20px;
    justify-content: space-between;
    color: rgb(244,151,20);
}
.right_content_donhang .header_right_content_donhang div i,
.right_content_donhang .header_right_content_donhang div:last-child a,
.right_content_donhang .header_right_content_donhang div:first-child{
display: flex;
align-items: center;
margin: 0 10px 0 10px;
}

.content_right_content_donhang{
    display: flex;
    background-color: #f8f8f8;
    margin-bottom: 10px;
    padding: 10px 0;
    font-size: 20px;
    flex-direction: column;
    padding: 10px;
}
.content_right_content_donhang .gioithieuvoucher a,
.content_right_content_donhang .gioithieuvoucher span,
.content_right_content_donhang .gioithieuvoucher p{
font-size: 15px;
display: block;
}
.gioithieuvoucher{
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}
.content_right_content_donhang .gioithieuvoucher input{
    background-color: rgb(244,151,20);
    border: 1px solid rgb(244,151,20);
    border-radius: 5px;
    padding: 5px;
    color: var(--white-color);
    width: 50%;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-bottom: 10px;
    margin-top: 10px;
}
.content_right_content_donhang .gioithieuvoucher input:hover{
    background-color: rgb(216,110,17);
}
.right_content_donhang .footer_gioithieuvoucher span{
    font-size: 15px;
    color: rgb(88, 86, 86);
}
.right_content_donhang .footer_gioithieuvoucher i{
    color:rgb(244,151,20) ;
    margin-right: 10px;
}

.footer_right_content_dohang{
    background-color: #f8f8f8;
    border-radius: 10px;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
    font-size: 20px;
    justify-content: space-between;
}
.footer_right_content_dohang .header_footer_right_thanhtoan{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}
.footer_right_content_dohang .content_footer_right_thanhtoan{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.footer_right_content_dohang .content_footer_right_thanhtoan div:last-child{
    color: red;
}
.footer_right_content_dohang .content_footer_right_thanhtoan div:last-child h3{
    font-size: 25px;
}
.footer_footer_right_thanhtoan input{
    width: 50%;
    margin-left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    border-radius: 10px;
    border: 1px solid red;
    background-color: red;
    color: var(--white-color);
    font-weight: 600;
}
.footer_footer_right_thanhtoan input:hover{
    background-color: rgb(219, 19, 19);

}

/* detail_note_voucher */
.detail_form_voucher{
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid rgb(244,151,20);
    padding: 10px 0;
    font-size: 20px;
    width: 70%;
    margin: auto;
    margin-top: 10%;
}
.detail_form_voucher .header_note_detail_voucher{
    border-bottom: 1px solid #ccc;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.header_note_detail_voucher h3{
    font-size: 25px;
    width: 100%;
    color: rgb(244,151,20);
}
.header_note_detail_voucher i{
    color: rgb(244,151,20);
}

body{
    position: relative;
}

.content_note_detail_voucher h3{
    margin: 10px;
}

.form_container_detail_voucher{
    background-color: rgb(243, 165, 101);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 4;
    display: none;
}
/* xem thêm voucher */
.form_container_detail_voucher_xemthem{
    background-color: rgb(243, 165, 101);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
    display: none;
}
.group_all_voucher_detail{
    margin: 30px;
}
.card_group_voucher h3{
    margin: 0;
    margin-bottom: 10px;
}
.card_group_voucher a{
    margin-left: 10px;
}
.card_group_voucher input{
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(244,151,20);
    color: #fff;
    border: 1px solid rgb(244,151,20);
    border-radius: 5px;
    padding: 5px;
}
.card_group_voucher input:hover{
    background-color:rgb(216,110,17) ;
}