*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #ccc;
    --navbar-height: 34px;
    --header-height:120px;
    --header-with-search-height:calc(var(--header-height)-var(--navbar-height));
}

html{
    font-size: 62.5%;
    line-height: 1.6rem;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
}
body{
    width: 100%;
    margin: auto;
}
